.cardGrid {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-gap: 5%;
}
.barchart-area {
  padding: 24px 40px 24px 40px;
  border-radius: 16px;
  border: 1px;
  background: #ffffff;
  border: 1px solid #e6e6e6;
}
.dashboard {
  display: flex;
  flex-direction: column;
  gap: 70px;
  padding-bottom: 50px;
}
.chart-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.chart-top-text {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.chart-top-text h2 {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #262626;
}
.chart-top-text h3 {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #666666;
}
